/SeiGon/*.sln
/SeiGon/.vsconfig
/SeiGon/Logs
/SeiGon/Temp
/SeiGon/Library
/SeiGon/*.csproj
/SeiGon/*.fbx
/SeiGon/.vs
/SeiGon/obj
/SeiGon/Library
/SeiGon/Logs
/SeiGon/Temp
/SeiGon/.vsconfig
/SeiGon/Assembly-CSharp.csproj
/SeiGon/Assembly-CSharp-Editor.csproj
/SeiGon/Assembly-CSharp-firstpass.csproj
/SeiGon/HSVPicker.csproj
/SeiGon/HSVPicker.Editors.csproj
/SeiGon/NonConvexCollider.csproj
/SeiGon/NonConvexColliderRuntimeAPI.csproj
/SeiGon/NonConvexEditor.csproj
/SeiGon/PhotonChat.csproj
/SeiGon/PhotonRealtime.csproj
/SeiGon/PhotonUnityNetworking.csproj
/SeiGon/PhotonUnityNetworking.Demos.csproj
/SeiGon/PhotonUnityNetworking.Editor.csproj
/SeiGon/PhotonUnityNetworking.Utilities.csproj
/SeiGon/PhotonUnityNetworking.Utilities.Culling.Editor.csproj
/SeiGon/PhotonUnityNetworking.Utilities.PhotonPlayer.Editor.csproj
/SeiGon/PunDemos.DemoHubEditor.csproj
/SeiGon/PunDemos.DemoSlotcarEditor.csproj
/SeiGon/RMM3D.csproj
/SeiGon/RMM3D.Editor.csproj
/SeiGon/RuntimeSceneGizmo.Runtime.csproj
/SeiGon/RuntimeTestAssembly.csproj
/SeiGon/RuntimeTransformHandle.csproj
/SeiGon/SeiGon.sln
/SeiGon/Whinarn.UnityMeshSimplifier.Editor.csproj
/SeiGon/Whinarn.UnityMeshSimplifier.Runtime.csproj
/SeiGon/Zenject.csproj
/SeiGon/Zenject-Editor.csproj
/SeiGon/Zenject-IntegrationTests.csproj
/SeiGon/Zenject-IntegrationTests-Editor.csproj
/SeiGon/Zenject-PoolMonitor-Editor.csproj
/SeiGon/Zenject-ReflectionBaking-Editor.csproj
/SeiGon/Zenject-TestFramework.csproj
/SeiGon/Zenject-UnitTests-Editor.csproj
/SeiGon/UserSettings
/SeiGon/*.csproj
